.alert {
    margin: 100px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: green;
    width: 200px;

}

.alert.one {
    background-color: aqua;
}

.alert.two {
    background-color: lightcoral;
}

.alert.three {
    background-color: blue;
}

.alert.four {
    background-color: burlywood;
}

.alert.is-outlined {
    outline: 5px solid purple;
}

.alert.is-elevated {
    padding: 30px;
  }
