.books {
    background-color: #8fb68d;
    margin: 0;
}

.book {
    composes: books;
    padding: 10px;
    color: #3d1f62;
    background-color: rgb(173, 181, 173);
}

.text {
    background-color: #34658e;
    text-align: center;
    margin: 0;
}